* {
    opacity: inherit;
}

html {
    overflow-y: hidden;
}

body {
    font-family: Helvetica, sans-serif;
    min-width: 100%;
    background-color: #1e1e1e;
}

#rightSide { 
    padding: -10px;
    padding-left: 0;
    padding-right: 0;
    border-right: 1px solid #313131;
    text-align: left;
}

#leftSide { 
    position: relative;
    background-color: #fff;
    padding: 10px;
}

.v-data-table__wrapper {
    position: relative;
    top: 145px;
    min-height: calc(100vh - 60px)
}

.v-data-footer {
    position: fixed;
    bottom: 0;
    background-color: #1e1e1e;
    min-width: calc(100% - 25vw)
}

.v-text-field__details,
.v-messages.theme--dark {
    display: none;
} 

.v-application .text-start {
    text-align: center !important;    
}

.text-start {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    text-align: center;
    max-width: 100px !important;
    font-size: small !important;
}

.v-select, 
.v-input,
.v-label {
    font-size: small !important;
    border-radius: 0 !important;
}

.div .v-label {
    color: #1e1e1e;
}

::-webkit-scrollbar {
    display: none;
}

#messageTextArea {
    font-size: medium;
    color: #1e1e1e;
    height: 100%;
}

#messageTextArea * {
    color: #1e1e1e !important;
    border-color: transparent !important;
}

.v-textarea,
.v-textarea * {
    color: #1e1e1e !important;
}

.v-image {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.v-image__image--cover {
    top: -10px;
    height: 100%;
    background-size: contain;
}

.v-menu__content .v-list-item:hover {
    background-color: rgba(255,255,255,0.3);
}

#rightSide > div > div.col-md-12.col-12 > header {
    padding-top: 7px;
    height: 175px !important;
}

#rightSide > div > div.col-md-12.col-12 > header .v-toolbar__content {
    height: 175px !important;
}

.theme--dark.v-text-field > .v-input__control > .v-input__slot:before,
.theme--dark.v-text-field > .v-input__control > .v-input__slot:before, .theme--dark.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: transparent !important;
}

.console-container {
    width: 100%;
    height: 38vh;
    background-color: rgba(0,0,0,0.5);
    color: #33ff33;
    font-family: monospace;
    padding: 10px;
    flex-direction: column;
    display: inline-block;
    font-size: 10px;
    border-left: 1px solid green;
    border-top: 1px solid green;
}

.console-header {
    font-weight: bold;
    border-bottom: 1px solid #33ff33;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.console-body {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 250px;
    white-space: pre-wrap;
}